.landolo{
    display:flex;
    width:70%;
    margin: auto;
    height:50vh;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #693f09;

    margin-top:22vh;
    text-shadow:1px 1px 1px black;
    box-shadow:2px 2px 21px 2px black;
}

.landolo h2{
    margin:20px 0px;
}

a{
    font-size:25px;
    text-shadow:none;
    padding:10px;
    background-color: white;
    color:#693f09;
}

a:hover{
    background-color: #693f09;
    color:white;
    border:1px solid white;
}