<div class="container">
    <app-urlap [modositasraVaro]="modositaniKivantUser" [booleanUpdate]="booleanUpdateForm" (visszaKuldBooleanUpdate)="visszaKuldBooleanUpdateEvent($event)" (passzoltErtek)="parentFunction($event)" (beosztasKuldese)="parentFunction2($event)" ></app-urlap>

    <app-tablazat [atvettErtek]="passzoltErtek" [atvettObject]="passzoltObject" [updateFormMegjelenese]="booleanUpdateForm"(modositandoKuldese)="modositastAtveszemFunction($event)" (booleanUpdateFormnak)="booleanUpdateFormnakFunction($event)"></app-tablazat>
</div>