.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    
    padding:10px;
    height:100%;

    background-color: rgb(143, 167, 168);
}

app-urlap{
    display: flex;
    align-items: center;
    justify-content: center;

    width:30%;
    height:100%;
    background-color: rgb(122, 132, 179);
}

app-tablazat{
    display: flex;

    justify-content: center;

    width:70%;
    height:100%;
  
}

@media (max-width: 1300px) {
    .container{
        flex-direction: column;
        width:100%;
    }

    app-urlap{
        width:80%;
    }
    app-tablazat{
        width:100%;
    }
  }

  
@media (max-width: 445px) {
    app-urlap{
        width:100%;
    }
    app-tablazat{
        width:100%;
    }
}