<div class="container">
  <!-- Az egész formnak az adatait belerakom  -->
  <form [formGroup]="signup" (ngSubmit)="signupSubmit(signup)">
    <h3>Regisztráció</h3>
    <div class="form-group">
      <label>Felhasználónév<span class="text text-danger"> * </span></label>
      <input type="text" formControlName="username" class="form-control mb-3 mt-3"
        placeholder="Írd be a felhasználód" />

      <!-- Ide kerülnek az errorok-->
      <div class="alert alert-danger" role="alert" *ngIf="getError('username', 'required')">
        Felhasználónév megadása kötelező.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('username', 'minlength') as err">
        Min karakterszám {{err.requiredLength}} beírt: {{err.actualLength}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('username', 'maxlength') as err">
        Max karakterszám {{err.requiredLength}} beírt: {{err.actualLength}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('username', 'pattern')">
        Csak betűk és számjegyek engedélyezettek
      </div>
    </div>

    <div class="form-group">
      <label>Jelszó<span class="text text-danger"> * </span></label>
      <span *ngIf="!showPassword; else hidePassword">
        <i (click)="togglePasswordVisibility()" class="fa-regular fa-eye"></i>
      </span>
      <ng-template #hidePassword>
        <i (click)="togglePasswordVisibility()" class="fa-regular fa-eye-slash"></i>
      </ng-template>
      <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" class="form-control mb-3 mt-3"
        placeholder="Írd be a jelszavad" />

      <!-- Ide kerülnek az errorok-->
      <div class="alert alert-danger" role="alert" *ngIf="getError('password', 'required')">
        Jelszó megadása kötelező.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('password', 'minlength') as err">
        Min karakterszám {{err.requiredLength}} beírt: {{err.actualLength}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('password', 'maxlength') as err">
        Max karakterszám {{err.requiredLength}} beírt: {{err.actualLength}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('password', 'pattern')">
        Csak betűk és számjegyek engedélyezettek
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('password', 'passwordStrength')">
        A jelszónak tartalmaznia kell legalább egy nagybetűt, egy kisbetűt és egy számjegyet!
      </div>
    </div>

    <div class="form-group">
      <label>Jelszó ismét<span class="text text-danger"> * </span></label>
      <span *ngIf="!showPassword; else hidePassword">
        <i (click)="togglePasswordVisibility()" class="fa-regular fa-eye"></i>
      </span>
      <ng-template #hidePassword>
        <i (click)="togglePasswordVisibility()" class="fa-regular fa-eye-slash"></i>
      </ng-template>
      <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password2" class="form-control mb-3 mt-3"
        placeholder="Írd be a jelszavad" />
      <!-- Ide kerülnek az errorok-->
      <div class="alert alert-danger" role="alert" *ngIf="getError('password2', 'required')">
        Jelszó megadása kötelező.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('password2', 'minlength') as err">
        Min karakterszám {{err.requiredLength}} beírt: {{err.actualLength}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('password2', 'maxlength') as err">
        Max karakterszám {{err.requiredLength}} beírt: {{err.actualLength}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('password2', 'pattern')">
        Csak betűk és számjegyek engedélyezettek
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="getError('password2', 'passwordStrength')">
        A jelszónak tartalmaznia kell legalább egy nagybetűt, egy kisbetűt és egy számjegyet!
      </div>
      <!-- Csak, ha van szöveg az errorMessageba | szín tartalomnak megfelelően-->
      <div [ngClass]="{
        'alert': true,
        'alert-success': errorMessage === 'Sikeres regisztráció!',
        'alert-danger': errorMessage !== 'Sikeres regisztráció!',
      }" role="alert" *ngIf="errorMessage.length > 0">
        {{ errorMessage }}
      </div>
    </div>
    <span>Van már fiókod ? </span>
    <a [routerLink]="['/bejelentkezes']">Bejelentkezés</a>
    <br />
    <button type="submit" class="btn btn-success">Elküld</button>
  </form>
</div>